body {
/*    padding-top: 50px;*/
    
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#mainpage{
    padding: 10%;
    color: white;
}

#mainpage h1{
    padding: 10%;
    font-size: 10em;
}

.container{
    width: 100%;
    background-image: url(../imgs/nighthawks.png);
}

.container2{
    height: 100%;
}

#about{
    padding: 10%;
}